@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OVERWATCH";
  src: url("/src/styles/OVERWATCH.ttf") format("truetype");
}

body {
  background-image: url("/src/imgs/background.jpg");
  background-size: cover;
}
.font-overwatch {
  font-family: "OVERWATCH";
}
.font-memory {
  font-family: "ClickuperRegular";
}
.bg-custom {
  background-color: #a56f44;
}
.w-250 {
  width: 290px;
}
.h-250 {
  height: 290px;
}
.w-290 {
  width: 330px;
}
.h-290 {
  height: 330px;
}
.h-24 {
  height: 6rem;
}
.win{
  display: flex;
	background-color: rgba(55, 190, 37, 0.77);
  font-family: 'CrosterianRegular';
	font-size: 7.8rem;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: -290px;
	
  padding-top: 240px;
	align-items: center;
  color: black;
  opacity: 0;
  transition: opacity 2.5s;
}
.defeat{
  display: flex;
	background-color: rgba(209, 39, 39, 0.77);
  font-family: 'CrosterianRegular';
	font-size: 7.8rem;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: -290px;
	/* justify-content: center; */
  padding-top: 240px;
	align-items: center;
  color: rgb(7, 7, 7);
  opacity: 0;
  transition: opacity 2.5s;
}
.show{
  opacity: 1;
}

